@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@theme {
	--font-audiowide: 'Audiowide', cursive;
}

html,
body {
	background-color: #0f1726;
	min-height: 100vh;
}

/* Fix for mobile PWA input focus */
input,
textarea,
[contenteditable] {
	-webkit-user-select: text;
	user-select: text;
}

@keyframes float {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
	}
}